body {
  margin: 0;
  background-color: white;
  //filter: invert(1);
}

#plus-holder {
  display: table-cell;
  width: 30px;
  height: 30px;
  position: relative;
  text-align: center;
  font-size: 20px;
  color: white;
  background-color: rgb(94, 196, 136);
  border-radius: 10px;
  vertical-align: middle;
  transition: background-color 0.5s;
}

#plus-holder:hover {
    background-color: rgb(161, 226, 188);
}
/*#2ECC71*/

#container {
  width: 50%;
  min-width: 400px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  transition: transform 0.5s;
  //border: 1px solid red;
}

#title {
  font-weight: bold;
  font-size: 30px;
  margin-top: 70px; //50px;
}

#subtitle {
  color: rgb(90, 90, 90);
  //margin-bottom: 40px;
}

#location {
  font-size: 15px;
  //color: rgb(139, 139, 139);
  margin-top: 30px;
}

.location {
  display: inline;
  margin-right: 15px;
  //border-radius: 5px;
  padding: 0;
  padding-bottom: 5px;
  color: rgb(139, 139, 139);
  transition: color 0.5s;
}

#here, #current-category {
  color: rgb(64, 184, 64);
  animation: border-reveal 1.5s;
}

#current-category {
  border-left: 2px solid rgb(64, 184, 64);
}

#here {
  border-bottom: 2px solid rgb(64, 184, 64);
}

#stream {
  //margin-top: 32px;
  //margin-top: 100px;
  margin-top: 10px; // this is so lazy, find the damn mistake instead of cheating like this, you don\'t know the ramifications of doing this
}

.post {
  font-size: 14px;
  padding: 0;
  //padding-left: 5px;
  //border-left: 3px solid rgb(214, 214, 214);
  //border-radius: 3px;
  //border: 1px solid black;
}

.question-post, .resource-post {
  //border: 1px solid black;
  height: 20px;
  line-height: 20px;
  white-space: nowrap;
}

.question-post, .video-post, .resource-post {
  margin-top: 50px; //30px;
}


.question-post::first-line, .video-post::first-line, .resource-post::first-line {
  font-weight: 600;
  color: black;
}

.question-post, .description, .resource-post {
  text-overflow: ellipsis;
  overflow: hidden;
}

.description {
  color: rgb(102, 102, 102);
  line-height: 20px;
  max-height: 60px;
}

.info {
  font-size: 12px;
  color: rgb(175, 175, 175);
  //color: rgb(150, 150, 150);
  margin: 3px 0 3px 0;
}

iframe {
  border-radius: 3px;
  //margin: 5px 0 5px 0;
  margin: 6px 0 5px 0;
  width: 100%;
  background-color: rgb(224, 224, 224);
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
}

@keyframes border-reveal {
  from {
    border-color: white;
  },
  to {
    border-color: rgb(64, 184, 64);
  }
}

.hidden-input {
  width: 0;
  height: 0;
  position: fixed;
  opacity: 0;
}

#query, #query:focus {
  //width: 130px;
  width: 200px;
  border: 1px solid rgb(223, 223, 223);
  outline: none;
  border-radius: 15px;
  padding: 5px 8px 5px 8px;
  position: absolutely;
}

#form {
  //display: inline-block;
  float: right;
  //margin-top: -5px;
  margin: 20px;
}

.user {
  //color: rgb(130, 175, 132);
  //color:rgb(131, 204, 131);
}

#full-iframe {
  width: 100%;
  height: 28.125vw;
  margin-top: 40px;
}

#question-head {
  margin-top: 40px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  //margin-bottom: -10px;
}

#question-contents {
  margin-top: 40px;
}

#quiz-button {
  color: rgb(78, 78, 78);
  font-size: 15px;
  //border: 1px solid rgb(165, 165, 165);
  padding: 7px 10px 7px 10px;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 40px 0 0px 0;
}

.answer-contents {
  margin-top: 40px;
}

.horizontal-rule {
  margin: 100px 0 20px 0;//60px 0 20px 0;
  border: none;
  //border-top: 0.5px solid rgb(230, 230, 230);
  border-top: 0.5px solid rgb(200, 200, 200);
  border-radius: 5px;
}

.no-answer {
  color: rgb(177, 177, 177);
  font-size: 14px;
  margin-bottom: 30px;
}

#video-head {
  margin: 40px 0 0px 0;
  font-weight: bold;
  animation: fade-in 0.2s;
  font-size: 17px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#looking-for {
  width: 200px;
  position: relative;
  margin-top: 120px;
  margin-bottom: 130px;
  color: rgb(109, 109, 109);
}

#say-something {
  color: green;
}

.ask {
  margin-top: 70px;
  //border: 1px solid black;
}

/*
#plus-holder:hover>.plus.icon{
  color: rgb(196, 196, 196);
}
*/

.plus.icon {
  color: black;
  margin-left: 3px;
  margin-top: 10px;
  transition: color 0.3s;
}

.plus.icon:before {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
}

.plus.icon:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#question-form {
  //border: 1px solid black;
  width: 100%;
  height: 100%;
  position: relative;
  //margin-top: 70px;
  margin-top: 50px; //20px;
}

#question-input, #question-title-input {
  resize: none;
  font-family: 'Work Sans', sans-serif;
  padding: 5px;
  //padding-top: 10px;
  display: block;
  border-radius: 3px;
  outline: none;
  width: 100%;
}

#question-input {
  //background-color: rgb(245, 245, 245);
  border: 1px solid rgb(223, 223, 223);
  //border-top: 1px solid rgb(230, 230, 230);
}

#question-submit {
  font-family: 'Work Sans', sans-serif;
  padding: 0;
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
  //margin-bottom: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 3px;
  margin-top: 10px;
  opacity: 1;
  transition: opacity 0.3s;
  //font-weight: bold;
  background-color: #2ECC71;
  color: white;
  outline: none;
}

#question-submit:hover {
  opacity: 0.5;
}

#load-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  z-index: 3;
}

#loading-head {
  //border: 1px solid red;
  //width: 112px;
  display: inline-block;
  left: 50%;
  top: 50%;
  margin-top: -40px;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  animation: loading-head-appear 1s;
}

@keyframes loading-head-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#runner {
  width: 6px;
  height: 6px;
  background-color: #2ECC71;// rgb(20, 192, 20);
  border-radius: 3px;
  left: 105.5px;
  position: relative;
  animation: run 5s infinite;
}

@keyframes run {
  0% {
    left: 1px;
    width: 6px;
  }
  30% {
    width: 10px;
  }
  50% {
    left: 105.5px;
    width: 6px;
  }
  80% {
    width: 10px;
  }
  100% {
    left: 1px;
    width: 6px;
  }
}

.menu.icon {
  color: rgb(139, 139, 139);
  position: absolute;
  margin-left: 2px;
  margin-top: 10px;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}

.menu.icon:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}

.menu.icon:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 1px;
  background-color: currentColor;
}

#menu-button {
  //border: 1px solid blue;
  width: 20px;
  height: 20px;
  position: fixed;
  margin: 20px;
  z-index: 2;
}

/* Don't know how to get this to work
.video-post:hover, .question-post:hover, .resource-post:hover {
  color: rgb(196, 196, 196);
}
*/

#directory-holder {
  position: fixed;
  //border: 1px solid black;
  height: 100%;
  width: 37.5%;
  text-align: center;
  overflow-y: scroll;
  box-sizing: content-box;
  background-color: white;
  //z-index: 2; //test
  left: 0;
  opacity: 0;
  transform: translateX(-25%);
  transition: transform 0.5s, opacity 0.5s;
}

#directory {
  display: inline-block;
  //border: 1px solid black;
  font-family: 'Work Sans', sans-serif;
  position: relative;
  //margin-top: 60px;
  margin-top: 40px;
  text-align: left;
  //width: 200px;
}

::-webkit-scrollbar {
  width: 4px;
  //height: 10px;
  //border: 1px solid black;
}

::-webkit-scrollbar-track {
  //background: red;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.02);
  border-radius: 2px; 
  height: 10px;
  //
}

.directory-item {
  display: block;
  font-family: 'Work Sans', sans-serif;
  color: rgb(58, 58, 58);
  font-weight: bold;
  font-size: 13.5px;
  //margin-bottom: -5px;
  margin-bottom: 7.5px;
  transition: color 0.5s;
  margin-left: 10px;
  padding-left: 5px; //original commit
}

.location:hover, #menu-button, .question-title, .directory-item:hover {
  color: rgb(196, 196, 196);
}

.directory-item.inactive-link {
  //color: rgb(212, 212, 212);
}

#question-title-input {
  border: 1px solid rgb(223, 223, 223);
  font-weight: bold;
  margin-bottom: 10px;
  height: 16px;
}

.admin-username {
  //color: rgb(78, 168, 78);
}

.page-title {
  //font-weight: bold;
  //margin-left: -20px;
  margin-top: -30px;//50px;
  //margin-left: -20px;
  //color: rgb(80, 80, 80);
  font-size: 16px;
}
.page-title.main {
  color: black;
  //margin-left: -20px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 50px;
}
.white-back {
  background-color: white;
  z-index: 2;
  padding-right: 15px;
}

.indent {
  //margin-left: 2px;
}

.link.icon {
  color: rgb(84, 192, 107);
  position: absolute;
  margin-left: 4px;
  margin-top: 8px;
  width: 7px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg) scale(0.7);
}

.link.icon:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -7px;
  width: 8px;
  height: 5px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

.link.icon:after {
  content: '';
  position: absolute;
  top: -3px;
  right: -7px;
  width: 8px;
  height: 5px;
  border-radius: 2px;
  border: solid 1px currentColor;
}

.link-icon-holder {
  //border: 1px solid black;
  display: inline-block;
  width: 14px;
  height: 14px;
  //float: right;
}

.directory-section-header {
  color: rgb(206, 206, 206);
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 14.5px;
  //font-weight: lighter;
}

#ask-form-head {
  margin-top: 40px;
  font-weight: bold;
  font-size: 20px;
  //margin-bottom: -50px;
}

#ask-description {
  font-size: 13px;
  color: rgb(163, 163, 163);
  margin-top: 10px;
}

#error-message {
  color: rgb(231, 204, 204);
  //font-weight: bold;
  font-size: 20px;
  margin-top: 100px;
}

#admin-form-part {
  //border: 1px solid red;
  padding-bottom: 10px;
  min-width: 410px;
  width: calc(50vw + 12px);
}

#url-input {
  float: right;
  display: inline-block;
  width: 296px;
  //margin-right: -12px;
  //margin-left: 3px;
}

#url-input, .type-input {
  border-radius: 5px; padding: 5px;
  outline: none;
  border: 1px solid rgb(223, 223, 223);
}

/*dark mode, doesn't work on nook, unstable (unpredictable) on chrome*/
/*
html {
  filter: invert(1) hue-rotate(-180deg);
  -webkit-filter: invert(1) hue-rotate(-180deg);
}
iframe, img {
  filter: invert(1) hue-rotate(180deg);
  -webkit-filter: invert(1) hue-rotate(180deg);
  background-color: rgb(53, 53, 53);
}
*/

.little-from-the-top {
  margin-top: 10px;
  margin-bottom: 40px;
}
/*
.video-post, .question-post, .resource-post {
  transition: color 0.5s;
}

.video-post:hover, .question-post:hover, .resource-post:hover {
  color: rgb(212, 212, 212);
}
*/

.edit-solid.icon {
  color: rgb(84, 192, 107);
  position: absolute;
  margin-left: 4px;
  margin-top: 7px;
  width: 14px;
  height: 2px;
  border-radius: 1px;
  border: solid 1px currentColor;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.edit-solid.icon:before {
  content: '';
  position: absolute;
  left: -12px;
  top: -1px;
  width: 0px;
  height: 0px;
  border-left: solid 5px transparent;
  border-right: solid 5px currentColor;
  border-top: solid 2px transparent;
  border-bottom: solid 2px transparent;
}

.edit-holder {
  //transform: translateX(-25px) translateY(-20px);
  //transform: translateY(-20px) translateX(-10px);
  //color: rgb(190, 236, 195);
  //float: right;
  color: rgb(84, 192, 107);
  font-size: 15px;
  margin-top: -30px;
  padding-bottom: 0px;
}
a.green {
  color: rgb(84, 192, 107);
}

.tags {
  color: rgb(94, 196, 136);
  margin-bottom: 5px;
}