{% extends 'base_layout.html' %}
{% block page %}
  <div id = 'container'>
    <div id = 'head'>
      <div id = 'title'>
        <span style = 'color: #2ECC71'>IB </span>Math
      </div>
      <div id = 'subtitle'>
        Wait why is IB green idk whatever
      </div>
    </div>
    <div id = 'location'>
      {% for l in ['All posts', 'Resources', 'Questions', 'Videos'] %}
        {% if l == location %}
          <a class = 'location' id = 'here' href = 'https://ibmath--ryan-jacobjacob.repl.co/{{l}}'>{{l}}</a>
        {% else %}
          <a class = 'location' href = 'https://ibmath--ryan-jacobjacob.repl.co/{{l}}'>{{l}}</a>
        {% endif %}
      {% endfor %}
    </div>
    <div id = 'stream'>
      {% block content %}
      {% endblock %}
    </div>
    {% if True %}
      <center>
        <div id = 'looking-for'>
        Can't find something?<br>
          <a href = '/ask' id = 'say-something'>
            Ask about it
          </a>
        </div>
      </center>
    {% endif %}
  </div>
  {% if not session.get('ip') %}
    <div id = 'load-screen'>
      <div id = 'loading-head'>
        <div id = 'title'>
          <span style = 'color: #2ECC71'>IB </span>Math
        </div>
        <div id = 'runner'></div>
      </div>
    </div>
  {% endif %}
{% endblock %}