{% extends 'layout.html' %}
{% block content %}
  <div class = 'info' id = 'question-head'>
    <div class = 'page-title'>
      {{item[2]}}
    </div>
    <div class = 'info'>
      <span class = 'user'>{{item[-1]}}</span> asked on {{item[5]}}
    </div>
  </div>
  <div id = 'question-contents'>
    {{item[4]|safe}}
  </div>
  <hr id = 'horizontal-rule'>
  {% if item[-5] == '' %}
    <div id = 'no-answer'>
      Sorry, no answer yet. You can bookmark this page and check later.
    </div>
  {% else %}
    <div>
      Answered on {{item[-4]}}
      {{item[-5]|safe}}
    </div>
  {% endif %}
{% endblock %}