{% extends 'page.html' %}
{% block main %}
  <div class = 'info' id = 'question-head'>
    <div class = 'page-title main'>
      {{item[2]}}
    </div>
    <div class = 'info little-from-the-top'>
      <span class = 'user'>{{item[-1]}}</span> &bull; {{item[5]}}
    </div>
    {% if session['ip'] == item[-1] %}
      <div class = 'edit-holder'>
        <a href = '/edit?id={{item[0]}}' class = 'green'>
          <!--<div class="edit-solid icon"></div>-->edit
        </a>
      </div>
    {% endif %}
  </div>
  <div id = 'question-contents' class = 'indent'>
    {{item[4]|safe}}
  </div>
  <hr class = 'horizontal-rule'>
{% endblock %}