{% extends 'layout.html' %}
{% block content %}
  <div id = 'video-head'>
    {{item[2]}}
  </div>
  <iframe id = 'full-iframe' allowtransparency = 'true' frameBorder = '0' src = '{{item[3]}}' seamless allowfullscreen>Your device does not support this iframe</iframe>
  <div id = 'quiz-button'>Quizzes coming soon</div>
  <div class = 'page-title'>
    Related
  </div>
  {% for post in posts %}
    <a target = '_blank' class = 'post' href = '/page?id={{post[0]}}'>
      {% if post[1] == 'video' %}
        <div class = 'video-post'>
          {{post[2]}}
          <iframe allowtransparency = 'true' frameBorder = '0' src = '{{post[3]}}' seamless allowfullscreen>Your device does not support this iframe</iframe>
        </div>
      {% elif post[1] == 'question' %}
        <div class = 'question-post'>
          {{post[2]}}
        </div>
      {% elif post[1] == 'resource' %}
        <div class = 'resource-post'>
          {{post[2]}} <div class ='link-icon-holder'><div class="link icon"></div></div>
        </div>
      {% endif %}
      <div class = 'info'>
        {% if post[1] in ['resource', 'video'] %}
          <span class = 'user admin-username'>  {{post[-1]}}</span>
        {% else %}
          <span class = 'user'>  {{post[-1]}}</span>
        {% endif %}
        &bull; {{post[5]}}
      </div>
      <div class = 'description'>
        {% if post[4] == '' %}

        {% else %}
          {{post[4]}}
        {% endif %}
      </div>
    </a>
  {% endfor %}
{% endblock %}